<html>

    <head>
        <title>PHL Bike Theft Data</title>
    </head>

    <body>

        <h1>PHL Bike Theft REST API</h1>

        <p>
            Disclaimer: This is currently a prototype, developed in a rushed
            few hours at a hackathon. There may be bugs or inaccuracies. The team that
            developed it is planning to improve it in the coming months.
        </p>

        <h3>Info</h3>
        <p>
            This application provides a REST API around the existing bike theft data
            provided by the City of Philadelphia. It's designed to make it easier
            to query for data regarding bike theft locations. Instructions on
            how to construct a query are listed below (results are returned
            in a JSON array of GeoJSON Points).
        </p>

        <h3>Query Instructions</h3>
        <p>URL: http://biketheft.jeffsbox.net/search</p>
        <p>Query Paramters (e.g. put these in the URL)</p>
        <ul>
            <li>latitude=(latitude)</li>
            <li>longitude=(longitude)</li>
            <li>radius=(miles from latitude/longitude)</li>
            <li>start_date=(YY-MM-DD) [optional] </li>
            <li>end_date=(YY-MM-DD) [optional] </li>
            <li> start_hour=(0 through 23) [optional, but requires next parameter too]</li>
            <li>end_hour=(0 through 23) [optional] </li>
        </ul>

        <p>If no time parameters are set, all the matching data available within the radius is returned</p>

        <p>Example URL:</p>
        <p><a href="http://bikethefts.jeffsbox.net/search?latitude=39.929081852&longitude=-75.1672029&radius=0.1">http://bikethefts.jeffsbox.net/search?latitude=39.929081852&longitude=-75.1672029&radius=0.1</a></p>

        <h3>Actions</h3>
        <ul>
            <li><a href="/refresh">Refresh the Data</a> (this will wipe and reload the database)</li>
        </ul>

    <h3>Going Forward / Credits</h3>
    <p>
    The app is the result of collaboration between <a href="https://github.com/bkenny266">Brian Kenny</a>, <a href="https://github.com/csharpie">Brad Steinberg</a>,
    and <a href="https://github.com/plusjeff">Jeff Maher</a> (with guidance from <a href="https://github.com/davewalk">Dave Walk</a>) at the <a href="http://appsforphilly.org">#apps4philly</a> Transit Hackathon
    in conjunction with <a href="http://codeforphilly.org">Code for Philly</a> (a <a href="http://brigade.codeforamerica.org">Code for America Brigade</a>).
    Future development is planned and we're happy to work with others, so let us know if you want to join in. Or don't, and just
    fork the project on <a href="https://github.com/plusjeff/phl-bike-theft">GitHub</a> (warning: the code is very ugly right now).
    </p>
    </body>

</html>